/* removes default margin and padding values */
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(142, 0, 0);
    height: 100%;
    width: 100%;
}

header {
    background-color: rgb(32, 27, 101);
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.25);
    height: 100px;
}

header img {
    float: left;
    height: 75px;
    margin-left: 15px;
    margin-top: 10px;
    width: 70px;
}

#title {
    color: white;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    margin-left: 15px;
    margin-top: 30px;
    padding-left: 25px;
    padding-top: 2px;
}

/* container for selection items */
.container {
    display: block;
    height: 1000px;
    position: absolute;
    width: 1400px;
}

/*---------------------------------------------------------------------------------
   Center Console
---------------------------------------------------------------------------------*/
.center {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    width: 700px;
}


.control {
    background-color: rgba(100, 0, 0, 0.5);
    border: 0;
    color: white;
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}


#instruct {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    text-align: center;
}


.panel {
    width: 700px;
}

/*---------------------------------------------------------------------------------
   Button Styles
---------------------------------------------------------------------------------*/
button {
    outline: none;
}


.heroSelect {
    background-color: rgba(211, 118, 118, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-size: 1em;
    height: 75px;
    margin-right: -4px;
    width: 140px;
}


.heroSelect:hover {
    background-color: #ebebeb;
    color: rgba(7, 0, 100, 0.8);
    font-weight: 900;
}


.row1 {
    margin-top: -1px;
}


/*---------------------------------------------------------------------------------
   Results
---------------------------------------------------------------------------------*/
.results-container {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.results {
    border: 1px solid black;
    height: 200px;
    width: 700px;
}


.hidden {
    display: none;
}