/* removes default margin and padding values */
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

header {
    background-color: rgb(137, 137, 137);
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.25);
    height: 35px;
    width: 100%;
}


#title {
    color: #fff;
    float: left;
    font-family: 'Arizonia', sans-serif;
    font-size: 2em;
    padding-left: 15px;
    padding-top: 2px;
    text-shadow: 2px 2px 7px #000;
}

/* container for selection items */
.container {
    display: block;
    height: 1000px;
    position: absolute;
    width: 1200px;
}

/*---------------------------------------------------------------------------------
   Center Console
---------------------------------------------------------------------------------*/
.center {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: block;
    margin-left: 300px;
    margin-top: 100px;
    width: 600px;
}


.control {
    background-color: rgb(0, 0, 0);
    border: 0;
    color: white;
    display: block;
    height: 50px;
    width: 600px;
}


#instruct {
    float: left;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-top: 16px;
}


  
input[name='lyric'] {
    background-color: gold;
    display: block;
    float: left;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 12px;
    width: 330px;
}


.getLyrics {
    background-color: #a70000;
    border: 0;
    border-radius: 40px;
    color: white;
    display: block;
    float: left;
    font-weight: 800;
    height: 40px;
    margin-left: 25px;
    margin-top: 5px;
    width: 40px;
    
}


/*---------------------------------------------------------------------------------
   Results Template
---------------------------------------------------------------------------------*/
.results-container {
    background-color: rgba(0, 0, 0, 0.25);
    display: block;
    margin-left: 300px;
    width: 600px;
}

.results {
    width: 600px;
}


.hidden {
    display: none;
}

dt {
    display: none;
}

.song {
    padding-bottom: 25px;
    padding-top: 25px;
}

/*---------------------------------------------------------------------------------
   Results
---------------------------------------------------------------------------------*/
dd {
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}


.title {
    color: black;
    display: block;
    float: left;
}


.title a {
    color: yellow;
}


.name {
    color: black;
    display: inline block;
    float: left;
    margin-left: -20px;
}


.clip {
    clear: left;
}


em {
     background-color: orange;
}