/* removes default margin and padding values */
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(142, 0, 0);
    height: 100%;
    width: 100%;
}

header {
    background-color: rgba(100, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.25);
    height: 35px;
    width: 1400px;
}


#title {
    color: white;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    padding-left: 15px;
    padding-top: 2px;
}

/* container for selection items */
.container {
    display: block;
    height: 1000px;
    position: absolute;
    width: 1400px;
}

/*---------------------------------------------------------------------------------
   Center Console
---------------------------------------------------------------------------------*/
.center {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 700px;
}


.control {
    background-color: rgba(100, 0, 0, 0.5);
    border: 0;
    color: white;
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}


#instruct {
    float: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
}

.search {
    float: right;
    margin-right: 25px;
    margin-top: 18px;
}
    
/*---------------------------------------------------------------------------------
   Results
---------------------------------------------------------------------------------*/
.results-container {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.results {
    height: 200px;
    width: 700px;
}


.hidden {
    display: none;
}

dt {
    display: none;
}